*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}
.vtc{
    background-color: aquamarine;
    padding: 10px;
    line-top: 20px;
    

}
.bang{
    background-color: antiquewhite;
    display: flex;
    gap:10px;
    padding: 10px;

}
img{
    width: 460px;
    height: 300px;
}
body{
    background-color: grey;
}
@media screen and(max-width:950px) {
    .vtc{
        background-color: aquamarine;
        padding: 10px;
        
    }
    .bang{
        background-color: antiquewhite;
        display: flex;
        gap:10px;
        padding: 10px;
    
    }
    img{
        width: 460px;
        height: 300px;
    }
    

    }
@media screen and(max-width:600px) {
    .vtc{
        background-color: aquamarine;
        padding: 10px;
        /* line-top: 20px; */
    }
    .bang{
        background-color: antiquewhite;
        display: flex;
        gap:10px;
        padding: 10px;
    
    }
    img{
        width: 460px;
        height: 300px;
    }
}
@media screen and(max-width:300px) {
    .vtc{
        background-color: aquamarine;
        padding: 10px;
        /* line-top: 20px; */
    }
    .bang{
        background-color: antiquewhite;
        display: flex;
        gap:10px;
        padding: 10px;
    
    }
    img{
        width: 460px;
        height: 300px;
    }
}
.bang-1 p {
    margin-top: 10px;
}