*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}
.vtc{
    background-color: aquamarine;
    padding: 10px;

    

}
.bang{
    background-color: antiquewhite;
    display: flex;
    gap:30px;
    padding: 10px;

}
img{
    width: 455px;
    height: 300px;
    border-radius: 5px;
}


@media screen and (max-width: 760px) {

    .vtc {
        padding: 10px;
    }

    .bang {
        display:grid;
        padding: 10px;
    }

    img {
        width: 100%;
        height: auto;
        border-radius: 5px;
    }
}
